
 <%- include ('partials/header')  %>





<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Todas las vistas</h5>
            <form class="form-signin">

                <a class="btn btn-lg btn-primary btn-block text-uppercase" href="crear_vacante"> Crear Vacante </a>            
                <hr class="my-4"> 
             <a class="btn btn-lg btn-primary btn-block text-uppercase" href=""> Buscar Vacante </a>            
             <hr class="my-4">            
              <a class="btn btn-lg btn-primary btn-block text-uppercase" href="">Ir a Perfil</a>
              <hr class="my-4">
              <a class="btn btn-lg btn-primary btn-block text-uppercase" href="login">Login</a>
              <hr class="my-4">
              <a class="btn btn-lg btn-primary btn-block text-uppercase" href="registro">Registros</a>
              <hr class="my-4">
              <label for="">Buscar aca un perfil</label>
              <input type="search" name="" class="form-control" id="">
              <button class="btn btn-success"> Buscar perfil </button>
             </form>
          </div>
        </div>
      </div>
    </div>
  </div>
                               

  <%- include('partials/footer') %>
 